version: "3.8"

services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    restart: unless-stopped
    ports:
      - "9091:9091"
    environment:
      - NODE_ENV=production
      - TARGET=${TARGET}
      - EXTENSION_TARGET=${EXTENSION_TARGET}
